.navbar {
  height: 70px;
}

#logo {
  width: 35px;
}

.navbar-brand {
  margin-left: 0;
}

.d-flex {
  width: 50%;
  height: 50px;
}

.nav-item {
  padding-left: 25px;
}

.dropdown {
  padding-right: 25px;
}

.btn-md {
  padding: 5px 30px;
  font-weight: 600;
  font-size: 17px;
}

.search-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bolder;
  font-size: 27px;
}

#photos-div {
  margin-top: 250px;
}

.photo-div {
  margin: 10px 20px;
  display: inline;
  justify-content: space-around;
}

.photo {
  width: 30%;
}

.photo:hover {
  cursor: pointer;
}
